{% extends "base.html.twig" %}

{% block body %}
<h2>CONDITIONS GÉNÉRALES D'UTILISATION</h2>
<p>
Nous recueillons des informations personnelles (nom et adresse e-mail) auprès de vous lorsque vous fournissez volontairement ces informations en vous inscrivant à un compte Flixable. En enregistrant un compte Flixable, vous nous autorisez à vous envoyer des e-mails promotionnels de temps à autre. Pour ne plus recevoir ces e-mails promotionnels, veuillez cliquer sur le lien "se désabonner" en bas de l'e-mail.
</p>

{% endblock %}