body{
    background-color: rgb(3, 3, 3);

}   
#nav{
     /* background: url("../image/safire.jpg");  */
    background-size: cover;
    background-position: center;
}
   .bcg{
    width: 100%;
    height: 550px;
}    
.droite{
    align-items: center;
    justify-content: end;
}
.pub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clr{
    background-color: rgb(168, 162, 162);
    

}
.logo{
padding-right: 20%;
width: auto;
height: 90px;
}

.imgLogo{
    padding-right: 30%;
    width: auto;
    height: 90px;
    }

.foot{
     /* background :url("../image/safire.jpg") ;   */
     /* background-color: black; */
    color: rgb(217, 219, 241);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;  
 }
 .rez{
     display: flex;
     flex-direction: column;
 }