/* Shine */

body {
    background-color: rgba(0, 0, 0, 0.787);
}

.h42 {
    color: rgba(255, 0, 0, 0.719);
}

.h52 {
    color: rgba(60, 60, 241, 0.753);
}

body {
    background-color: rgb(3, 3, 3);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#nav {
    /* background: url("../image/safire.jpg");  */
    background-size: cover;
    background-position: center;
}

.bcg {
    width: 100%;
    height: 600px;
}

.droite {
    align-items: center;
    justify-content: end;
}

.pub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clr {
    background-color: rgb(168, 162, 162);
}

.logo {
    padding-right: 30%;
    width: auto;
    height: 90px;
}

.foot {
    /* background :url("../image/safire.jpg") ;   */
    /* background-color: black; */
    color: rgb(217, 219, 241);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.toopit {
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.toopit img {
    min-width: 100%;
    height: 300px;
}

.caranime {
    width: 100%;
    max-height: 200%;
}