{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

<main class="clr">

        <div >
            
        {# <i class="far fa-chevron-double-down" style="color: red; display: flex; justify-content: center; width: 100%; height: 150px;"></i>  #}
            
            <a href="{{path('afficheAllFilms')}}">
                <h3>FILM</h3>
            </a>
            <a href="{{path('afficheAllSeries')}}">
                <h3>SERIE</h3>
            </a>
            <a href="{{path('afficheAllAnimes')}}">
                <h3>ANIME</h3>
            </a>
       
        </div>

    </main>

{% endblock %}






