{% extends 'base.html.twig' %}


{% block body %}


		<div class="carousel-inner" role="listbox">

			<a href="{{path('afficheAllFilms')}}">
				<h3>FILM</h3>
			</a>
			<a href="{{path('afficheAllSeries')}}">
				<h3>SERIE</h3>
			</a>
			<a href="{{path('afficheAllAnimes')}}">
				<h3>ANIME</h3>
			</a>

			

	{% endblock %}
