{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

<a href="{{path('afficheAllFilms')}}"><h2>FILM</h2></a>

<a href="{{path('afficheAllSeries')}}"><h2>SERIE</h2></a>

<a href="{{path('afficheAllAnimes')}}"><h2>ANIME</h2></a>


{% endblock %}
