{% extends 'base.html.twig' %}



{% block body %}

		<label for="Ajout">Ajouter</label>
		<li class="nav-item">
			<a class="nav-link" href="{{path('ajouterFilms')}}">ajouterfilm</a>
		</li>

		<label for="affichage">Afficher</label>
		<li class="nav-item">
			<a class="nav-link" href="{{path('montrerFilms')}}">afficherfilm</a>
		</li>


{% endblock %}
